<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul style="border:double;">
        <% long.forEach(function(log){ %>
        <div style="border: inset;">
            <li><%= log.len %></li>
        </div>
        <% }); %>
    </ul>




</body>
</html>